/* Reset some default styles for browsers */
body, figure, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 20px;
}

#adTitle {
    text-align: center;
}

#WhyUse, #Features {
    text-align: center;
    margin-top: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 2;
    margin: 10px;
}

.figurecaption img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.figurecaption figcaption {
    font-size: 20px; /* Changing font size */
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

#Hyperlinks {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#Hyperlinks a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
}

#Hyperlinks a:hover {
    text-decoration: underline;
}

p {
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #555;
}

.top-bar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }