
.column {
  float: left;
  width: 48%;
  padding: 12px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.figurecaption{
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  font-size: 25px;
  text-align: center;
}

.wideImages{
  width: 100%
}

#navbar{
  color: red
}

.top-bar {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
